.chart {
    /* overflow: hidden; */
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    background: rgb(0, 0, 0) !important;
    color: white !important;
}

.iso {
    /* border: 2px solid red; */
    box-shadow: 0 4px 86px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    ;
}